<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Doctor.LogDoctor"></activity>
        <activity android:name=".Doctor.Act_Patient_BPM" />
        <activity android:name=".Nurse.ActPatientList" />
        <activity android:name=".RepareActivity" />
        <activity
            android:name=".User.Scheduling.RecordUserActivity"
            android:label="@string/prontuario"
            android:parentActivityName=".User.MenuUsrActivity" />
        <activity
            android:name=".User.LogActivity"
            android:label="Histórico de BPM"
            android:parentActivityName=".User.MenuUsrActivity" />
        <activity
            android:name=".User.Password.PasswordActivity"
            android:label="@string/alterar_senha"
            android:parentActivityName=".User.DetailsAcount" />
        <activity
            android:name=".User.DetailsAcount"
            android:label="@string/configuracoes"
            android:parentActivityName=".User.MenuUsrActivity" />
        <activity android:name=".User.MenuUsrActivity" />
        <activity android:name=".User.RecordActivity" />
        <activity android:name=".Nurse.ActivityListPatient" />
        <activity android:name=".Nurse.QrCodeActivity" />
        <activity
            android:name=".User.Scheduling.Slide02Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".User.Scheduling.Slide01Activity" />
        <activity
            android:name=".Nurse.ValidationActivity"
            android:label="@string/titulo_validar"
            android:parentActivityName=".Nurse.MenuNurActivity" />
        <activity
            android:name=".Nurse.MonitoringActivity"
            android:label="@string/titulo_monitorar"
            android:parentActivityName=".Nurse.MenuNurActivity" />
        <activity
            android:name=".Doctor.ValidationActivity"
            android:label="@string/titulo_validar"
            android:parentActivityName=".Doctor.MenuDocActivity" />
        <activity
            android:name=".Doctor.MonitoringActivity"
            android:label="@string/titulo_monitorar"
            android:parentActivityName=".Doctor.MenuDocActivity" />
        <activity
            android:name=".Doctor.QueryActivity"
            android:label="@string/titulo_consultas"
            android:parentActivityName=".Doctor.MenuDocActivity" />
        <activity android:name=".Nurse.MenuNurActivity" />
        <activity android:name=".Doctor.MenuDocActivity" />
        <activity
            android:name=".User.WarningsActivity"
            android:label="@string/avisos_titulo"
            android:parentActivityName=".User.MenuUsrActivity" />
        <activity
            android:name=".User.HistoryActivity"
            android:label="@string/historico"
            android:parentActivityName=".User.MenuUsrActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/titulo_cadastrar"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/titulo_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>